stages:
  - test

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  MAVEN_CLI_OPTS: "-B -e -V"

cache:
  paths:
    - .m2/repository

test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-17
  script:
    - mvn $MAVEN_CLI_OPTS clean test
  only:
    - merge_requests
    - main
    - develop