spring:
  application:
    name: reservation-service

server:
  port: 8082

app:
  kafka:
    topics:
      reservation-created: reservations.created.v1
      payment-confirmed: payments.confirmed.v1
      payment-failed: payments.failed.v1
    dlt-topic:
      reservation-service: reservation.service.dlt

  outbox:
    scheduler-fixed-rate: 5000 # 5 seconds

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always