spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/users/**

        - id: reservation-service
          uri: http://reservation-service:8082
          predicates:
            - Path=/api/reservations/**

        - id: payment-service
          uri: http://payment-service:8083
          predicates:
            - Path=/api/payments/**