spring:
  main:
    json.log.enabled: true
  config:
    activate:
      on-profile: docker

  kafka:
    bootstrap-servers: kafka:9092

    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      max-poll-interval-ms: 300000 # Max time between polls (5 minutes)
      session-timeout-ms: 45000   # Max time to wait for a heartbeat before rebalancing (45 seconds)
      heartbeat-interval-ms: 15000 # Frequency of heartbeats to the consumer coordinator (15 seconds)
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer

      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: com.bp.common.events
        spring.json.value.default.type: com.bp.common.events.PaymentConfirmedEvent

  datasource:
    url: jdbc:postgresql://postgres:5432/notification_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false